<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}An unnamed page{% endblock %} - {{ site.title }}</title>
    <meta name="author" content="{% block author %}{{ site.author.name }}{% endblock %}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for("resources", filename="apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("resources", filename="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for("resources", filename="favicon-16x16.png") }}">
    <link rel="manifest" href="{{ url_for("resources", filename="site.webmanifest") }}">
    <link rel="mask-icon" href="{{ url_for("resources", filename="safari-pinned-tab.svg") }}" color="#00416a">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ url_for("resources", filename="css/style.css") }}" />
    <link rel="stylesheet" href="{{ url_for("resources", filename="css/responsive-menu.css") }}" />
    <link rel="stylesheet" href="{{ url_for("resources", filename="lib/owlcarousel/assets/owl.carousel.min.css") }}">
    <link rel="stylesheet" href="{{ url_for("resources", filename="lib/owlcarousel/assets/owl.theme.default.css") }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="{{ url_for("resources", filename="lib/owlcarousel/owl.carousel.min.js") }}"></script>
    <script src="{{ url_for("resources", filename="js/indieconfig.js") }}"></script> 
    <script src="{{ url_for("resources", filename="js/webaction.js") }}"></script>
    <script src="{{ url_for("resources", filename="js/hashtags.js") }}"></script>
    
    <link rel="authorization_endpoint" href="{{ site.endpoints.auth }}">
    <link rel="token_endpoint" href="{{ site.endpoints.tokens }}">
    <link rel="pingback" href="{{ site.endpoints.pingback }}" />
    <link rel="webmention" href="{{ site.endpoints.webmention }}" />
    <link rel="micropub" href="{{ site.endpoints.micropub }}" />
    <link rel="microsub" href="{{ site.endpoints.microsub }}" />
    <link rel="self" href="{{ request.url }}">
    <link rel="hub" href="https://switchboard.p3k.io/">
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <label for="toggle" class="nav-bar__label">Menu</label>
        <input type="checkbox" id="toggle" class="nav-bar__toggle">
        <ul class="nav-bar__list">
          <li class="nav-bar__list-item home-button">
            <a href="/" class="nav-bar__link">{{ site.title }}</a>
          </li>
          {% for item in site.menu.main %}
          <li class="nav-bar__list-item">
            {% if item.children %}
            <label for="toggle-sub-{{ loop.index }}" class="nav-bar__sub-label">{{ item.name }}</label>
            <input type="checkbox" id="toggle-sub-{{ loop.index }}" class="nav-bar__toggle">
            <ul class="nav-bar__list">
              {% for subitem in item.children %}
                <li class="nav-bar__list-item">
                  <a class="nav-bar__link" href="{{ subitem.url }}">{{ subitem.name }}</a>
                </li>
              {% endfor %}
            </ul>
            {% else %}
            <a class="nav-bar__link" href="{{ item.url }}">
              {{ item.name }}
            </a>
            {% endif %}
          </li>
          {% endfor %}
          <li class="nav-bar__list-item login-button">
	    {# XXX logging out #}
            <a href="{% if session.me %}#{% else %}/login{% endif %}" class="nav-bar__link">{% if session.me %}...{% else %}Log in{% endif %}</a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="mainblock">
      {% block sectionheader %}{% endblock %}
      <div id="content">
      {% block content %}{% endblock %}
      </div>
      <footer>
        <div class="return-to-top">
          <a href="#">Return to top!</a>
        </div>
        {% if site.copyright %}
        <p class="copyright">
            {{ site.copyright | markdown | safe }}
        </p>
        {% endif %}
        <script>
          $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
              items: 1
            });
          });
        </script>
        {% if site.theme.custom_footer %}{{ site.theme.custom_footer | safe }}{% endif %}
      </footer>
    </div>
  </body>
</html>
