{% extends (request.host + "/base.html") %}
{% block title %}{{ site.author.name }}'s Blogroll{% endblock %}
{% block content %}
<div style="padding: 1em">
  <h1>{{ self.title() }}</h1>
  <ul>
    {% for person in blogroll %}
    <li><a href="{{ blogroll[person].url }}" {% if blogroll[person].rel %}rel="{{ blogroll[person].rel }}"{% endif %}>{{ blogroll[person].name }}</a></li>
    {% endfor %}
</div>
{% endblock %}
