{% extends (request.host + "/base.html") %}
{% block title %}Home{% endblock %}
{% block sectionheader %}
{# This is my h-card, yay! #}
      <div class="h-card">
        <div class="avatar-holder">
          <img alt="Author's avatar" class="u-photo avatar" src="{{ site.author.avatar }}" />
        </div>
        <div class="text-holder">
          <h1 class="card-name"><a class="p-name u-url" href="{{ site.author.url }}" rel="me">{{ site.author.name }}</a></h1>
          <p class="card-subhead">
            {% if site.author.location %}
            Location: <span class="p-locality">{{ site.author.location[0] }}</span>, <span class="p-country-name">{{ site.author.location[1] }}</span><br />
            {% endif %}
            {% if site.author.pronouns %}
            Pronouns: <span class="p-x-pronoun-nominative">{{ site.author.pronouns[0] }}</span>/<span class="p-x-pronoun-oblique">{{ site.author.pronouns[1] }}</span>/<span class="p-x-pronoun-posessive">{{ site.author.pronouns[2] }}</span><br />
            {% endif %}
          </p>
          {% if site.author.bio %}<p class="p-bio">{{ site.author.bio | markdown | safe }}</p>{% endif %}
          {% if site.author.contact %}
          <div class="contact-container">
            <p class="contact-header">Ways to find me:</p>
            <ul class="contact">
              {% with me = site.author.contact %}
              {% if me.email %}
              <li><a rel="me" href="mailto:{{ me.email }}">Email</a></li>
              {% endif %}
              {% if me.gpg %}
              <li>
                <a rel="pgpkey" title="{{ me.gpg.fp }}" href="{{ me.gpg.key }}">GPG key</a>
                {% if me.gpg.keybase %}(also on <a href="https://keybase.io/{{ me.gpg.keybase }}">Keybase</a>){% endif %}
              </li>
              {% endif %}
              {% if me.gitlab %}
              <li><a rel="me" href="https://gitlab.com/{{ me.gitlab }}">GitLab</a></li>
              {% endif %}
              {% if me.github %}
              <li><a rel="me" href="https://github.com/{{ me.github }}">GitHub</a></li>
              {% endif %}
              {% if me.reddit %}
              <li><a rel="me" href="https://reddit.com/u/{{ me.reddit }}">Reddit</a></li>
              {% endif %}
              {% if me.mastodon %}
              <li><a rel="me" href="https://{{ me.mastodon[1] }}/@{{ me.mastodon[0] }}">
                @{{me.mastodon[0]}}@{{me.mastodon[1]}}
              </a></li>
              {% endif %}
              {% if me.twitter %}
              <li><a rel="me" href="https://twitter.com/{{ me.twitter }}">Twitter</a></li>
              {% endif %}
              {% if me.instagram %}
              <li><a rel="me" href="https://instagram.com/{{ me.instagram }}">Instagram</a></li>
              {% endif %}
              {% for service in me.custom %}
              <li><a rel="me" href="{{me.custom[service]}}">{{ service }}</a></li>
              {% endfor %}
	      {% if me.fediverse_nick %}
	      <li><a style="display: none" class="u-url" href="acct:{{ me.fediverse_nick }}@{{ request.host }}"></a>Read this blog from fediverse at @{{ me.fediverse_nick }}@{{ request.host }}</li>
	      {% endif %}
              {% endwith %}
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
{% endblock %}

{% block content %}
<main class="h-feed">
  <div>
    {% from (request.host + '/post_renderer.html') import render_post, render_pagination with context %}
    {% for post in posts %}
    {{ render_post(post, summarize=True) }}
    {% endfor %}
    {{ render_pagination(pagination) }}
  </div>
</main>
{% endblock %}

