{% extends (request.host + "/base.html") %}
{% block title %}IndieAuth login{% endblock %}
{% block content %}
<div id="indieauth_page">
  <h1>Login via IndieAuth</h1>

  <p>You will be logged in as:</p>
  <div class="h-card">
    <div class="avatar-holder">
      <img src="{{ site.author.avatar }}" class="u-photo avatar" style="width: 72px; vertical-align: middle;">
    </div>
    <div class="text-holder">
      <h1 class="card-name">
        <a class="{{ site.author.url }}" class="u-url p-name u-uid">{{ site.author.name }}</a>
      </h1>
      <p class="card-subhead">{{ site.author.url }}</p>
    </div>
  </div>
  <form action="/api/indieauth/confirm" id="indieauth_form" method="post">
    <fieldset>
      <legend>The application <b>{% if h_app %}{{ h_app.name }} ({% endif %}{{ client_id }}{% if h_app %}){% endif %}</b> wants to:</legend>
      <ul style="list-style: none;">
        <li>
          <input type="checkbox" disabled checked>
          <label for="identity">View your URL and name</label>
        </li>
        {% for scope in scopes %}
        <li>
          <input type="checkbox" id="scope-{{ scope }}" name="scope" value="{{ scope }}">
          <label for="scope-{{ scope }}">
            {{ site.theme.get("scope_descriptions", {}).get(scope, "Acquire scope <code>{}</code>".format(scope)) | safe }}
          </label>
        </li>
        {% endfor %}
      </ul>
    </fieldset>
    <p><label for="password">Type your password to continue:</label>
    <input type="password" name="password" id="password"><input type="submit"></p>
    <fieldset class="indieauth-debug">
      <legend>Debugging info:</legend>
      <div class="indieauth-debug-grid">
        <label for="state">State</label>
        <input name="state" value="{{ state }}" readonly>
        <label for="client_id">Client ID</label>
        <input name="client_id" value="{{ client_id }}" readonly>
        <label for="me">Identity</label>
        <input name="me" value="{{ me }}" readonly>
        <label for="redirect_uri">Redirect URI</label>
        <input name="redirect_uri" value="{{ redirect_uri }}" readonly>
        <label for="response_type">Auth type</label>
        <input name="response_type" value="{{ response_type }}" readonly>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
