{%- extends (request.host + "/base.html") -%}
{%- block title %}{{ site.theme.feed_names[kind] }}{% endblock -%}
{%- block content -%}
<main class="h-feed">
  <header class="page-header">
    <h2 class="p-name">{{ site.theme.feed_names.get(kind, kind.title()) }}</h2>
  </header>
  <div>
    {%- from (request.host + '/post_renderer.html') import render_post, render_pagination with context -%}
    {%- for post in posts -%}
    {{- render_post(post, summarize=True) -}}
    {%- endfor -%}
    {{- render_pagination(pagination) }}
  </div>
</main>
{% endblock %}
