{% extends (request.host + "/base.html") %}
{% block title %}Login{% endblock %}
{% block content %}<div style="padding: 1em">
  <h1>Login</h1>
  <form method="POST" action="https://{{ request.host }}/api/indielogin">
    <input type="url" name="user"></input>
  </form>
</div>{% endblock %}
